@using MiPrimeraAplicacionWebConEntityFramework.Models
@model EmpleadoCLS
@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.listaSexo;
    List<SelectListItem> listaTipoContrato = (List<SelectListItem>)ViewBag.listaTipoContrato;
    List<SelectListItem> listaTipoUsuario = (List<SelectListItem>)ViewBag.listaTipoUsuario;
}

<h2>Agregar</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Empleado", FormMethod.Post,new { @id="frmAgregar"}))
        {
            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.apPaterno)
                @Html.TextBoxFor(p => p.apPaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apPaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.apMaterno)
                @Html.TextBoxFor(p => p.apMaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apMaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.fechaContrato)
                @Html.EditorFor(p => p.fechaContrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("fechaContrato", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.sueldo)
                @Html.TextBoxFor(p => p.sueldo, new { @class = "form-control" })
                @Html.ValidationMessage("sueldo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iidTipoUsuario)
                @Html.DropDownList("iidTipoUsuario", listaTipoUsuario, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidTipoUsuario", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iidTipoContrato)
                @Html.DropDownList("iidTipoContrato", listaTipoContrato, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidTipoContrato", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iidSexo)
                @Html.DropDownList("iidSexo", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidSexo", new { @class = "text-danger" })
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Guardar
            </button>
            @Html.ActionLink("Regresar", "Index", "Empleado", null, new { @class = "btn btn-danger" })
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea guardar los cambios?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Agregar() {
        var frmAgregar = document.getElementById("frmAgregar");
        frmAgregar.submit();
    }
</script>