@using MiPrimeraAplicacionWebConEntityFramework.Models
@model List<ClienteCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Agregar", "Agregar", "Cliente", null, new {@class="btn btn-primary"})

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <td>@Html.LabelFor(p=>Model[0].iidcliente)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].apPaterno)</td>
            <td>@Html.LabelFor(p => Model[0].apMaterno)</td>
            <td>@Html.LabelFor(p => Model[0].telefonoFijo)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
        <tr>
            <td>@item.iidcliente</td>
            <td>@item.nombre</td>
            <td>@item.apPaterno</td>
            <td>@item.apMaterno</td>
            <td>@item.telefonoFijo</td>
            <td>
                @Html.ActionLink(" ", "Editar", "Cliente", new { ad = @item.iidcliente }, new { @class = "glyphicon glyphicon-trash btn btn-primary" })
                @Html.ActionLink(" ", "Eliminar", "Cliente", new { ad = @item.iidcliente }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
            </td>
        </tr>
            }
    </tbody>
</table>